<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    {# <link rel="icon" href="../../favicon.ico"> #}
    <title>{{ pageTitle|default("Texnic - Центр авторизации") }}</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">


</head>
<body>
<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-1.12.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script>
    $.fn.bootstrapBtn = $.fn.button.noConflict();
</script>
<script src="/js/twig.min.js"></script>
<script src="/js/jquery-ui.js"></script>
{% block script %}
{% endblock %}
</body>
</html>