{% extends '/layout/main.twig' %}
{% set pageTitle="Спсиок задач" %}
{% block content %}
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2">
            <table id="task-database" class="table table-striped" width="100%">
                <thead>
                <tr>
                    <td id="id">Номер задачи</td>
                    <td id="title">Загловок</td>
                    <td id="date">Дата выолнения</td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    {% include '/task/modal/task.twig' %}
{% endblock %}
{% block script %}
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.min.js"></script>
    <script>
        var tasks = {};
        $(document).ready(function () {
            var dataTable = $('#task-database').dataTable({
                processing: true,
                serverSide: true,
                searching: true,
                ajax: "{{ path("task_search") }}",
                columns: [
                    {data: "id", name: "id", sortable: false},
                    {data: "title", name: "title", sortable: false},
                    {data: "date", name: "date", sortable: false}
                ],
                language: {
                    "zeroRecords": "Нет подходящих записей",
                    "lengthMenu": 'Показать по <select class="form-control" style="width:85px;  display: inline-block;">' +
                    '<option value="10">10</option>' +
                    '</select> на странице',
                    "search": "",
                    'searchplaceholder': "Поиск",
                    "info": "Страница _PAGE_ из _PAGES_. Всего _TOTAL_ элементов",
                    "infoEmpty": "Нет записей для показа",
                    "infoFiltered": "(выбрано из общего количеста: _MAX_ )",
                    "paginate": {
                        "next": "Следующая",
                        "previous": "Предыдущая"
                    }
                },
                rowCallback: function (row, data, index) {
                    var $nRow = $(row);
                    $nRow.click(function () {
                        var json = $nRow.attr('data');
                        if (typeof tasks[data['id']] === 'undefined') {
                            jQuery.ajax({
                                url: getUrlTask(data['id']),
                                type: "GET",
                                success: function (object) {
                                    renderModalByObject(object);
                                    var id = object['id'];
                                    tasks[id] = object;
                                }
                            });

                        } else {
                            renderModalByObject(tasks[data['id']]);
                        }
                    });
                }
            });

            function getUrlTask(id) {
                return "{{ path('api_task_id', {id: '__REPLACE__'}) }}".replace('__REPLACE__', id);
            }

            function renderModalByObject(object) {
                $("#task-modal").modal('show');
                $('#task-label').text('Информация о задаче ' + object['id']);
                $('#modal-title').val(object['title']);
                $('#modal-date').val(object['date']);
                $('#modal-author').val(object['author']);
                $('#modal-status').val(object['status']);
                $('#modal-description').val(object['description']);
            }
        });
    </script>
{% endblock %}