{% extends '/layout/modal.twig' %}
{% set modalId="task-modal" %}
{% set modalLabelId="task-label" %}
{% block content %}
    <div class="form-group">
        <label for="modal-title" class="col-sm-2 control-label">Заголовок:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="modal-title" id="modal-title"
                   placeholder="Заголовок"><br>
        </div>
    </div>
    <div class="form-group">
        <label for="modal-date" class="col-sm-2 control-label">Дата:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="modal-date" id="modal-date"
                   placeholder="Дата"><br>
        </div>
    </div>
    <div class="form-group">
        <label for="modal-author" class="col-sm-2 control-label">Автор:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="modal-author" id="modal-author"
                   placeholder="Автор"><br>
        </div>
    </div>
    <div class="form-group">
        <label for="modal-status" class="col-sm-2 control-label">Статус:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="modal-title" id="modal-status"
                   placeholder="Статус"><br>
        </div>
    </div>
    <div class="form-group">
        <label for="modal-description" class="col-sm-2 control-label">Описание:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="modal-description" id="modal-description"
                   placeholder="Описание"><br>
        </div>
    </div>
{% endblock %}